<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">TodoList Detail</h4>
        <button id="closeModel" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>



    <div class="modal-body">

        <form [formGroup]="Todoform" (ngSubmit)="save()">


            <!-- <label   class="label form-label">Id</label>
<div  >
<input  type="number"  formControlName="id" class="form-control" >
</div> -->

            <div>
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control">
            </div>

            <div>
                <label> isComplete</label>
                <!-- <input  type="boolean" formControlName="isComplete" class="form-control"  > -->

                <select type="boolean" formControlName="isComplete" class="form-control">
  <option value=true>True</option>
  <option value=false>False</option>
</select>
            </div>

            <div>
                <label> Date </label>
                <input type="text" formControlName="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Date</button>
            </div>

            <div>
                <label> Priority </label>
                <input type="number" formControlName="priority" class="form-control">
            </div>


            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
</ng-template>




<!-- Table view -->
<nav class="navbar navbar-light bg-light d-flex justify-content-center ">
    <div>
        <p style="color: rgb(94, 94, 226); font-size: 40px;font-weight: bold;">Todo List Items</p>
    </div>
</nav>






<div class="float-end">
    <button class="btn btn-primary   " (click)="open(content,null)" style="margin: 20px;">Add Todo items
  </button>
</div>


<div class="form-group center">
    <input type="text" class="form-control  " placeholder="Search..." [(ngModel)]="filterTerm" style="width: 700px;" />
</div>




<!-- To center the table you want to center the class  -->
<div class="center">
    <table class="table table-striped  table-hover table-responsive" style="width:80%;">

        <thead>
            <tr scope="row" class="table-light text-center">
                <th scope="col">ID </th>
                <th scope="col">Name </th>
                <th scope="col">isComplete </th>
                <th scope="col">Date </th>
                <th scope="col">Priority </th>
                <th scope="col">CRUD</th>

            </tr>
        </thead>

        <tbody>
            <tr class="text-center" scope="row" *ngFor="let  Todoitem of TodoItems| paginate: { itemsPerPage: 7, currentPage: page }| filter: filterTerm ">
                <td>{{Todoitem.id}}</td>
                <td>{{Todoitem.name}}</td>
                <td>
                    <span *ngIf="Todoitem.isComplete==true" class="text-success"><i class="fa-thin fa-alien"></i></span>
                    <span *ngIf="!Todoitem.isComplete==true" class="text-warning">TODO</span>
                </td>
                <td>{{Todoitem.date|date}}</td>
                <td>{{Todoitem.priority}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" (click)="open(content,Todoitem)">
  Edit
</button>
                    <!--     
    <button   class=" btn btn-info"  *ngIf="Todoitem.id!=0"  (click)="editTodo(Todoitem)">
    EDIT
  </button> -->

                    <button class="btn btn-warning" (click)="deleteTodo(Todoitem.id)">
    DELETE
  </button>
                </td>
            </tr>

        </tbody>

    </table>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>